.main-container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

body {
    background-color: lightslategray;
    background-image: url('background.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.floating-text {    
    position: relative;
    background-image: url(kaboom.png);
    background-size: 100% 100%;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-position: 50%;
    box-sizing: border-box;
    padding: 185px 150px 126px;
    text-align: center;
    z-index: -1;
    transform: rotate(10deg);
    margin-top: -100px;
    margin-bottom: -53px;
}

#no1 {    
    transform: rotate(-10deg);
}

#no2 {
}

.iamges {
    display: flex;
    justify-content: center;
}

.iamges > img {
    width: 33%;
}

h1 {
    margin: 0;
}
